
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <!-- <h1 class="brand-heading">&nbsp;</h1> -->
          <div class="col-sm-6">
            <a href="{{site.baseurl}}/tags/project-overviews.html" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-proj-1 }}" alt="">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{site.baseurl}}/tags/project-overviews.html" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-proj-2 }}" alt="">
            </a>
          </div>
        </div>
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- <h1 class="brand-heading">&nbsp;</h1> -->
            <!-- <h1 class="brand-heading">&nbsp;</h1> -->
            <h5>&nbsp;</h5>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <!-- <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a> -->
          </div>
        </div>
      <div class="row">
         <!-- <h5>&nbsp;</h5> -->
          <div class="col-sm-6">
            <a href="{{site.baseurl}}/tags/project-overviews.html" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-proj-3 }}" alt="">
            </a>
          </div>
          <div class="col-sm-6">
            <a href="{{site.baseurl}}/tags/project-overviews.html" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-proj-4 }}" alt="">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
