<!-- Work Section -->
<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work</h2>
                    <h3 class="section-subheading">INSERT LINKS TO THESE THREE TO PAGES OF TAGS</h3>
<!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teaching</h4>
<!-- <p class="text-muted"> -->
                    <p>Classes at the undergraduate and graduate level involving cognitive science and computational modeling. Also graduate student mentorship in grant-sponsored research.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-coffee fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research</h4>
<!-- <p class="text-muted"> -->
                    <p>Task-oriented natural langugage interfaces with specific focus on conversational intelligent tutoring systems, computational representations of meaning, and dyadic interaction and engagement.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Service</h4>
<!-- <p class="text-muted"> -->
                    <p>Director of the Insitute for Intelligent Systems, Coordinator for the Cognitive Science Graduate Certificate, and Coordinator for the Undergraduate Minor in Cognitive Science. Also community outreach and service to the field.</p>
                </div>
            </div>
        </div>
    </section>
