
<!-- Professor Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

<!-- About Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 id="about">Professor (2006-2025)</h2>
<p>Andrew M. Olney is a former Professor (retired 2025) in both the <a href="http://iis.memphis.edu" target="_blank">Institute for Intelligent Systems</a> and <a href="http://www.memphis.edu/psychology/" target="_blank">Department of Psychology</a> at the University of Memphis. 
Dr. Olney received a B.A. in Linguistics with Cognitive Science from University College London in 1998, an M.S. in Evolutionary and Adaptive Systems from the University of Sussex in 2001, and a Ph.D. in Computer Science from the University of Memphis in 2006. 
He is the former editor of the Journal of Educational Data Mining (2017-2022) and former Director/Associate Director of the Institute for Intelligent Systems at the University of Memphis (2006-2017), where he oversaw tenure track faculty, staff, and approximately 40 faculty affiliates. 
Dr. Olney has over 150 publications in the fields of artificial intelligence, education, and psychology, with a particular focus on using natural language processing to assess and enhance learning from text and learning through conversation.
He has been an investigator on $18M in federal grants ($6M as PI) in these fields.
His primary research interests are in natural language interfaces. Specific interests include language and knowledge acquisition (both human and AI) with applications in learning and performance support systems.</p>
    </div>
  </div>
</section>

<!-- About End -->

    {% include work.html %}

    {% include students.html %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Professor Layout End -->
